input{
    margin-bottom: 1em;
    padding: 0.5em 0.75em;
    width: 95%;
    border-radius: 5px;
    border: #AC9EB8 1px solid;
}

ul{
    margin: 0 0 2em 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}


button{
    font-weight: bold;
    border: none;
    font-size: 1.1em;
}