.hero{
    width: 100vw;
}

.cardcont{
    margin: 2em;
}

.backgroundFP{
    background-color: #c8e1fb;
}

.FPImg{
    width: 100%;
    height: auto;
}

.SpotifyBkg{
    background-color: #FE8A1B;
}

.SpotifyBkg img{
    width: 100%;
    height: auto;
}

.containerSubItemsTopArtist{
    margin: auto 0;
    display: block;
}

.countdownTS{
    background-color: #E1B469;
}

.countdownTS img{
    width: 50vh;
    height: auto;
}


.feriaSwiftie{
    background-color: #F5D8FF;
}

.feriaSwiftie img{
    width: 50vh;
    height: auto;
}